<html>
<body>
  <div class="feed">
    <div class="content">
      <div class="left">
        <div class="title">
          <br />
          <span>Kill Feed from Quake3</span>
        </div>
        <div class="label">
          <label class="">Texts</label>
        </div>

        <div class="name">
          <label for="">Players and Kills</label>
        </div>

        <div class="complete_text">
          <span>{{data}}
          </span>
        </div>
      </div>
    </div>
  </div>
</body>

</html>